// fonts
$font: 'Manrope', sans-serif;

// media sizes
$tablet-width: 768px;
$desktop-width: 1024px;

$menu-desktop-width: 260px;
$color--primary: #1376ff;

$color--success: #52b49b;
$color--danger: #d84b4b;
$color--title: #333333;
$color--text: #545454;

$app-color: #ffffff;
$app-bg: #e5eaf0;

$radius: 7px;

// font size
$font--title: 24px;
$font--subtitle: 17px;
$font--text: 15px;
